/* Estilos para el cuerpo de la página */
body {
    background-color: #add8e6; /* Color azul pastel */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Usamos min-height en lugar de height */
}

/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
    background-color: #ffffff; /* Color de fondo del formulario */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px; /* Reducimos el espaciado para que sea más compacto */
    text-align: center;
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="password2"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
}

.login-container p {
    margin-top: 10px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #007BFF; /* Color de fondo de la barra de navegación */
    padding: 10px 0;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff; /* Color del texto en los enlaces de la barra de navegación */
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline; /* Subrayar el enlace de navegación al pasar el mouse */
}

.product-table {
    background-color: #fff; /* Fondo blanco */
    border: 1px solid #ccc; /* Añadir un borde opcional */
    border-collapse: collapse; /* Colapsar bordes de celdas */
    width: 100%; /* Hacer que la tabla ocupe todo el ancho disponible */
}

.product-table th,
.product-table td {
    padding: 8px; /* Espaciado interno para celdas de encabezado y datos */
    border: 1px solid #ccc; /* Añadir un borde a las celdas */
}

.product-table th {
    background-color: #007BFF; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo alternado para filas pares */
}

.product-table tr:hover {
    background-color: #e0e0e0; /* Cambia el color de fondo al pasar el mouse por encima */
}

#menu{
    background-color: #000;

}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #42B881;
}

.item-r{
    float: right;
}

