<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Pedidos</a></li>
    </ul>
</div>

<div class="customer-list-container">
    <h2>Lista de Clientes</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
        </thead>
        <tbody>
        <!-- Aquí se generarán las filas de la tabla con los detalles de los clientes -->
        <tr>
            <td>1</td>
            <td>Juan Pérez</td>
            <td>juan@example.com</td>
            <td>Cliente</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maria Rodríguez</td>
            <td>maria@example.com</td>
            <td>Cliente</td>
        </tr>
        <!-- Agrega más filas para otros clientes si es necesario -->
        </tbody>
    </table>
</div>
</body>
</html>
