<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
  <link th:replace="/fragments/head :: head">
</head>
<body>
<div class="login-container">
  <h2>Iniciar Sesión</h2>
  <form th:action="@{/logincheck}" method="POST">
    <input type="text" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar Sesión</button>
  </form>
  <p>¿No tienes una cuenta? <a href="/registrar">Registrarse</a></p> <!-- Nuevo botón de registro -->
</div>
</body>
</html>
